<div class="main">
  <div class="inner">
    <div class="left-side wrap">
      <h1>Hi there!</h1>
       <h3>
        The Best more.......
       </h3>
      <div class="button-bar">
        <button routerLink="/auth/signin" routerLinkActive="active">Sign in</button>
        <button routerLink="/auth/signup" routerLinkActive="active">Sign Up</button>
      </div>
    </div>
    <div class="right-side wrap">
    <div class ="navigateContext">
      <router-outlet></router-outlet>
    </div>
    </div>
  </div>
</div>
