.wrap {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  margin: 10px;
}
.container {
   margin: 10px;
   width: 1000px;
   height: 500px;

.img-fluid {
     width: auto;
     height: 200px;
     margin: 2px;
     border-radius: 5px;
}}



