<div class="room">

  <div class="wrap">

    <div class="room-l-side">
      <img src="./assets/suites-1.jpg" class="img-thumbnail" alt="room1">
      <img src="./assets/suites-2.jpg" class="img-thumbnail" alt="room2">
      <img src="./assets/suites-3.jpg" class="img-thumbnail" alt="room3">
      <img src="./assets/suites-4.jpg" class="img-thumbnail" alt="room4">
    </div>

  </div>
  <div class="room-r-side">
    <h1>Suite</h1>
    <p>
      Lorem ipsum dolor sit amet,
    </p>
    <hr>
    <h1>Room amenities</h1>
    <p>
      Lorem ipsum dolor sit amet.
    </p>
    <hr>
    <h1>Bed type</h1>
    <p>
      Lorem ipsum dolor sit amet.
    </p>
    <hr>
    <h1>Cancellation rules</h1>
    <p>
      Lorem ipsum dolor sit amet.
    </p>
  </div>

</div>

