<div class="outer">
  <div class="heder-text">
    <h1>
      Guest feedback form
    </h1>
    <p>
      Getting things right for you is an important part of what we do-and we really do like to hear your feedback about us,
    </p>
    <hr>

  </div>

<div class="q1">
  <dl>


    <div class="form-check" >Front office staff :

        excellent
        <input class="form-check-input" type="checkbox" value="" >
        <label class="form-check-label" for="flexCheckDefault">
        </label>


        good
        <input class="form-check-input" type="checkbox" value="" >
        <label class="form-check-label" for="flexCheckDefault">
        </label>


        fair
        <input class="form-check-input" type="checkbox" value="" >
        <label class="form-check-label" for="flexCheckDefault">
        </label>

        poor
        <input class="form-check-input" type="checkbox" value="" >
        <label class="form-check-label" for="flexCheckDefault">
        </label>


    </div>
  </dl>
</div>

<div class="q2">
  <dl>


    <div class="form-check" >Restaurant staff :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
</div>

<div class="q3">
  <dl>


    <div class="form-check" >Travel Desk :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
</div>

<div class="q4">
  <dl>

    <div class="form-check" >Room keeping :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
</div>

<div class="q5">
  <dl>


    <div class="form-check" >Door man :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
</div>

<div class="q6">
  <dl>


    <div class="form-check" >Cleanliness of the Room :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
</div>

<div class="q7">
  <dl>


    <div class="form-check" >Spa :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
</div>

<div class="q8">
  <dl>


    <div class="form-check" >Fitness center :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
</div>

<div class="q9">
  <dl>


    <div class="form-check" >Restaurant-food :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
</div>

<div class="q10">
  <dl>


    <div class="form-check" >Overall hotel rating :

      excellent
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      good
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


      fair
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>

      poor
      <input class="form-check-input" type="checkbox" value="" >
      <label class="form-check-label" for="flexCheckDefault">
      </label>


    </div>
  </dl>
  <br>
<div class="mb-3">
  <span class="form-label">Any other comments ? : </span> <br>
  <textarea class="form-control" placeholder="type here" > </textarea>
</div>
</div>
  <hr>
  <div class="mb-3">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="first    last" type="text">
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-form-field class="full-width">
      <mat-label>Room No</mat-label>
      <input matInput placeholder="S-001 OR D-150" type="text">
      <mat-error>room number is required..</mat-error>
    </mat-form-field>
  </div>
  <br>
<div class="b1">
  <button class="button" type="button" > ok </button>
  <button class="button" type="button" > Cancel </button>
</div>


</div>
