.heder{
  h1{
    color: red;}
}
.wrap{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.search{
background-color: lightblue;
}
.form-select{
margin: 50px;
}
.form-control{
  margin: 20px;
}
