<div class="heder">
  <h1>
    The best places for travelers
  </h1>
  <p>
    Lorem ipsum dolor sit amet,
  </p>
</div>
<hr>
<div class="wrap">
  <select class="form-select" size="4,6" aria-label="size 3 select example">
    <option selected>Places</option>
    <hr>
    <option value="1">Beach</option>
    <option value="2">Safari</option>
    <option value="3">Forest</option>
    <option value="4">Historical</option>
  </select>
  <br>
  <div class="search">
    <label for="search" class="form-label"></label>
    <input type="search" class="form-control" id="search" placeholder="search here">
  </div>
</div>

