
<div class="outer">
  <mat-tab-group backgroundColor="accent">
    <mat-tab label="Gallry">
      <div class="content-wrap">
      <app-gallery-page></app-gallery-page>
      </div>
    </mat-tab>
      <mat-tab label="Rooms">
      <div class="content-wrap">
      <app-room-detail-page></app-room-detail-page>
      </div>
    </mat-tab>
      <mat-tab label="Reviews">
      <div class="content-wrap">
      <app-review-detail-page></app-review-detail-page>
      </div>
    </mat-tab>

      <mat-tab label="Reservation">
        <div class="content-wrap">
        <app-reservation-detail-page></app-reservation-detail-page>
      </div>
      </mat-tab>
      <mat-tab label="Travel">
      <div class="content-wrap">
      <app-travel></app-travel>
      </div>
    </mat-tab>
      <mat-tab label="Facilities Network">
      <div class="content-wrap">
      <app-optionals-page></app-optionals-page>
      </div>
    </mat-tab>
  </mat-tab-group>

  </div>





