.full-width{
  width: 25%;
}
.mat-form-field{
  margin: 10px;
  align-items: center;

}

.wrap{
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding:10px;
  border:2px solid black;
  background-color: #243937;
  border-radius: 2px;
}
.example-button-row{
  cursor: pointer;
  margin-left: 350px;
}

#dropdownMenuButton1 {
}

#dropdownMenuButton2 {
}
.dropdown{
  margin:10px;
  align-items: center;
}
.quc{
  margin: 5px;
  background-color: #69635e;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.button{
  margin: 10px;
}
.heder-text{
  color: red;

  p{
    color: deepskyblue;
  }

}
